<%- include('../views/partials/header.ejs') %>



    <div>
        <% if(home.length> 0) { %>
            <table class="w-75">
                <tr>
                    <th class="fw-bold">Parish</th>
                    <th class="fw-bold">City</th>
                    <th class="fw-bold">Address</th>
                    <th class="fw-bold">Bedrooms</th>
                    <th class="fw-bold">Bathrooms</th>
                    <th class="fw-bold">Size</th>
                    <th class="fw-bold">Price</th>
                    <th class="fw-bold">Status</th>
                </tr>
                <% home.forEach(h=> { %>

                    <tr>
                        <td>
                            <%= h.parish %>
                        </td>
                        <td>
                            <%= h.city %>
                        </td>
                        <td>
                            <%= h.address %>
                        </td>
                        <td class="text-center"><%= h.bed_rooms %></td>
                        <td class="text-center"><%= h.bath_rooms %></td>
                        <td><%= `${h.sqr_ft} sq ft` %></td>
                        <td><%= `$${h.price}.00` %></td>
                        <td><%= h.status %></td>
                    </tr>
            

            <% }) %>
        </table>
                <% } %>
    </div>




    <%- include('../views/partials/footer.ejs') %>