<%- include('../views/partials/header.ejs') %>

    <div class="container">
        <div class="row">
            <div class="col">

                <div>
                    <table class="w-50">
                        <tr>
                            <th>Location</th>
                            <td>
                                <%= result.address %>, <%= result.city %>, <%= result.parish %>
                            </td>
                        </tr>
                        <tr>
                            <th>Bedrooms/Bathrooms</th>
                            <td>
                                <%= `${result.bed_rooms} Bed` %> | <%= `${result.bath_rooms} Bath` %>
                            </td>
                        </tr>

                        <tr>
                            <th>Price</th>
                            <td>
                                <%= `$${result.price}.00` %>
                            </td>
                        </tr>

                        <tr>
                            <th>Status</th>
                            <td>
                                <%= result.status %>
                            </td>
                        </tr>

                        <tr>
                            <th>Description</th>
                            <td>
                                <%= result.description %>
                            </td>
                        </tr>               
                    </table>
                    <div class="mt-3">
                        <a class="delete text-danger fw-bold" data-doc="<%= result._id %>"><button class="btn-danger">Delete</button></a>
                       <h2><%= result._id.toString() %></h2>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script async>
        const remove_entry = document.querySelector('a.delete');

        remove_entry.addEventListener('click', (e) => {
            const endpoint = `/home/${remove_entry.dataset.doc}`;
    
            fetch('endpoint', { method: "DELETE" })
            .then((response) => response.json)
            .then((data) => window.location.href = data.redirect)
            .catch((err) => console.log(err))
        })
    </script>



    <%- include('../views/partials/footer.ejs') %>